code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(226, 228, 230);
}

.flexbox-item-vo1,
.flexbox-item-vt1,
.flexbox-item-com1 {
    display: flex;
    flex-direction: column;
}

/* Header Section */

.flexbox-item-vo2,
.flexbox-item-vt2,
.flexbox-item-com2 {
    background-color: rgb(63, 34, 210);
    color: rgb(254, 252, 251);
    text-align: center;
}

h4 {
    margin-bottom: 5px;
}

/* Navigation Bar*/
/*.flexbox-item-vo3 is the nav bar stuff*/
.nav {
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 15px;
}

#tab {
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: large;
}

/*Middle Container (Tile Holder)*/
#middle-box {
    display: flex;
    flex-direction: row;
}

p {
    margin: 5px;
    padding: 5px;
}

.flexbox-item-vo4 {
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    height: 900px;
    width: auto;
}

h5 {
    padding: 15px;
    margin: 5px;
}

#sts {
    padding: 2px;
    margin: 5px;
}

/*Title & Image StarTrek*/
.flexbox-item-vo5,
.flexbox-item-vt5 {
    border-color: rgb(63, 34, 210);
    border-style: solid;
    border-width: 5px;
    height: 750px;
    width: 950px;
}

h4 {
    margin: 20px;
}

.flexbox-item-vo6,
.flexbox-item-vt6 {
    border-color: rgb(63, 34, 210);
    border-style: solid;
    border-width: 5px;
    height: 750px;
    width: 325px;
}

/* Button Box*/

#btn-1,
#btn-2,
#btn-3,
#btn-4,
#btn-5,
#btn-6,
#btn-7,
#btn-8 {
    margin: 10px;
    
    }
    
    #Genre {
        width: 100%;
    }
    
    #Class {
        width: 100%;
    }
    
    #Size {
        width: 100%;
    }
    
    #Speed {
        width: 100%;
    }
    
#submit1 {
    margin: 20px;
    height: 50px;
    width: 100px;
}

#submit2 {
    margin: 20px;
    height: 50px;
    width: 100px;
}
/*Display Results*/

.flexbox-item-vo7,
.flexbox-item-vt7 {
    display: flex;
    justify-content: center;
    border-color: rgb(92, 17, 173);
    border-style: solid;
    border-width: 5px;
    height: 750px;
    width: 750px;
}

/*Compare Page CSS Stuff*/

#middle-box-4 {
    display: flex;
    flex-direction: row;
}

.shipone-display,
.shiptwo-display {
    display: flex;
    flex-direction: column;
}

.flexbox-item-com10 {

    border-color: rgb(208, 205, 214);
    border-style: solid;
    border-width: 5px;
    height: 1700px;
    width: 700px;
}

.flexbox-item-com11 {

    border-color: rgb(208, 205, 214);
    border-style: solid;
    border-width: 5px;
    height: 1700px;
    width: 700px;
}


